Package: ultimo-icondo
Version: 1.2.1-0
Maintainer: example <example@example.com>
Depends: libc6
Architecture: amd64
Homepage: http://example.com
Description: Ultimo application for iCondo's webhooks and camera triggers.
