[Unit]
Description=Ultimo ICondo App Service running on Ubuntu

[Service]
WorkingDirectory=/home/administrator/ultimo/app
ExecStart=/home/administrator/ultimo/app/Ultimo.ICondo.WebApi
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-ultimo-app
User=administrator
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
