/******************************************************************
* @NAME y.xiang
* @CREATEDATE 2020/1/7
* @DESC <字体图标库>
  1.该css文件只与字体相关
  2.字体属性名以 utm-* 的形式
* ****************************************************************/
@font-face {
  font-family: 'utmfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff2') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

/*Unicode图标*/
.utm-font {
  font-family: "utmfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

/*Symbol图标*/
.utm-symbol-font{
  width: 24px;
  height: 24px;
  fill: currentColor;
  overflow: hidden;
}

/*菜单*/
.m_report:before {
  content: '\e6b2';
}
.m_system:before {
  content: '\e6ce';
}

.utm-add-icon:before { /*添加（十字加号）*/
  content: '\e6a3';
}
.utm-pass-icon:before { /*密码*/
  content: '\e6a4';
}
.utm-logout-icon:before { /*退出登陆*/
  content: '\e6b1';
}
.utm-search-icon:before { /*搜索*/
  content: '\e698';
}
.utm-reset-icon:before { /*重置*/
  content: '\e695';
}
.utm-table-setting:before{/*表格设置展示项*/
  content: '\e69d';
}
.utm-close-icon:before { /*关闭*/
  content: '\e694';
}
.utm-more-icon:before {/*更多*/
  content: '\e6d2';
}

.utm-visitor-add:before{/*visitor添加*/
  content: '\e69b';
}
.utm-point-to-ac:before{/*批量给AC设置点位*/
  content: '\e6a7';
}
.utm-template-import:before{ /*导入模板*/
  content: '\e6b4';
}
.utm-tag-to-user:before{ /*user批量添加tag*/
  content: '\e68a';
}
.utm-icon-zoom:before { /*放大*/
  content: '\e707';
}
.utm-manage-table:before{ /*解绑卡*/
  content: "\e6f1";
}
.utm-enable-card:before{ /*启用卡*/
  content: "\e6e0";
}
.utm-disEnable-card:before{ /*禁用卡*/
  content: "\e6e9";
}

.utm-ok-icon:before { /*勾勾*/
  content: '\e6e7';
}
.utm-fork-icon:before{ /*叉叉*/
  content: '\e694';
}
.utm-table-icon:before { /*表格*/
  content: '\e6e3';
}
.utm-expand-note:before{/*展开备注*/
  content: '\e705';
}
.utm-collapse-note:before{/*收起备注*/
  content: '\e704';
}
.utm-card-icon:before {/*卡*/
  content: '\e6fc';
}
.utm-add-ac:before{/*添加用户ac*/
  content: '\e686';
}
.utm-user-icon:before{/*user*/
  content: '\e683';
}
.utm-left-switch:before{/*向左切换*/
  content:'\e6de'
}
.utm-right-switch:before{/*向右切换*/
  content:'\e6dc'
}
.utm-detail-icon:before{/*详情*/
  content:'\e69c'
}
